
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/03951dd2cf.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link rel="stylesheet" href="../Semana-06/css/normalize.css">
        <link rel="stylesheet" href="../Semana-06/css/fonts.css">
        <link rel="stylesheet" href="../Semana-06/css/header.css">
        <link rel="stylesheet" href="../Semana-06/css/aside.css">
        <link rel="stylesheet" href="../Semana-06/css/main.css">
        <link rel="stylesheet" href="../Semana-06/css/footer.css">
        <link rel="stylesheet" href="../Semana-06/css/style.css">
    <title>Trackgenix - Log In</title>
</head>
<body>
    <div class="flex-conteiner">
        <header>
            <a href="#">
                <h1>Trackgenix</h1>
            </a>
            <div class="burger-menu">
                <span class="menu-line"></span>
                <span class="menu-line"></span>
                <span class="menu-line"></span>
            </div>
        </header>
        <div class="main-conteiner">
            <aside>
                <h2>Menu</h2>
                <div class="btn-aside-conteiner">
                    <div class="div-input-search">
                        <span class="material-symbols-outlined icon-search">
                            search
                        </span>
                        <input id="input-search" type="text" placeholder="Search">
                    </div>
                    <nav>
                        <ul>
                            <li id="aside-btn-home" class="btn-aside">
                                <a href="./index.html">
                                    <span class="material-symbols-rounded">home</span>
                                    Home
                                </a>
                            </li>
                            <li id="aside-btn-login" class="btn-aside">
                                <a href="./login.html">
                                    <span class="material-symbols-outlined">login</span>
                                    LogIn
                                </a>
                            </li>
                            <li id="aside-btn-singup" class="btn-aside">
                                <a href="./sing-up.html">
                                    <span class="material-symbols-outlined">man</span>
                                    SingUp
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <h3>Get in touch</h3>
                <p>Gigatech is always looking for talented software developers to join our team.
                    If you are interested in working with us, please get in touch.
                    We would be happy to discuss your experience and skills.
                </p>
                <div class="aside-contact-div contact-mail">
                    <span class="material-symbols-rounded">mail</span>
                    <a href="mailto:trackgenix@gigatech.com">trackgenix@gigatech.com</a>
                </div>
                <div class="aside-contact-div contact-phone">
                    <span class="material-symbols-rounded">call</span>
                    <a href="tel:+415-200-0042">415-200-0042</a>
                </div>
                <div class="aside-contact-div contact-location">
                    <span class="material-symbols-rounded">house</span>
                    <a href="#">621 Taylor St. , San Francisco, CA</a>
                </div>
            </aside>
            <div class="main-footer-conteiner">
                <main>
                    
                </main>
                <footer>
                    <div class="icon-conteiner">
                        <a href="https://www.facebook.com" target="_blank">
                            <i class="fa-brands fa-facebook"></i>
                            <!-- <img src="./assets/img/icons/icon-footer-facebook.png" alt="facebook icon"> -->
                        </a>
                        <a href="https://www.instagram.com" target="_blank">
                            <i class="fa-brands fa-instagram"></i>
                            <!-- <img src="./assets/img/icons/icon-footer-instagram.png" alt="instagram icon"> -->
                        </a>
                        <a href="https://www.twitter.com" target="_blank">
                            <i class="fa-brands fa-twitter"></i>
                            <!-- <img src="./assets/img/icons/icon-footer-twitter.png" alt="twitter icon"> -->
                        </a>
                    </div>
                    <p>&#169GigaTech Software Solutions SA. INC. ALL RIGHTS RESERVED.</p>
                </footer>
            </div>
        </div>
    </div>
</body>
</html>