/*! Static Styles for Login Page. */
main {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.login-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 350px;
    gap: 35px;
}

.login-container>[class^=login-] {
    flex: 1 0 100%;
}

.login-container .login-img {
    display: flex;
    justify-content: center;
}

.login-inputs-div {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    padding: 16px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.login-inputs-div>.login-inputs-element {
    flex: 1 0 100%;
    display: flex;
    justify-content: center;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: -0.3px;
    color: rgba(0, 0, 0, 0.7);
}

.login-inputs-div .login-title {
    font-weight: 800;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.078px;
    color: #373867;
}

.register-inputs {
    padding: 11px;
    background: rgba(0, 0, 0, 0.04);
    border: none;
    border-radius: 30px;
}

.login-inputs-div .remember-div {
    display: flex;
    align-items: center;
    gap: 5px;
}

#login-remember-checkbox+#login-remember-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.3px;
    color: #515AAA;
}

#login-forgot {
    padding: .5em;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.3px;
    color: #515AAA;
}

.login-buttons-div {
    display: flex;
    justify-content: space-between;
}

.login-buttons-div .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 64px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.login-buttons-div .back-btn {
    background: #49A37B;
}

.login-buttons-div .login-btn {
    background: #41426F;
}

.login-buttons-div .btn:hover {
    color: #41426F;
    background: #FFFFFF;
}
input:focus-visible,
input:focus {
    border: 1px solid #41426F;

}
/*!  Dinamics Styles to manipulate with JS. */
.invalid-input {
    border: 1px solid #FF3E1D;
    color: #FF3E1D;
}

.invalid-message {
    display: none;
    align-self: flex-start;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: -0.3px;
    color: #FF3E1D;
    opacity: .8;
}

.invalid-message.active {
    display: flex;
}