/*     Normalize Styles             */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', normal;
}

a {
    color: white;
}

/*     End Normalize                */
/* _________________________________*/
/*     Header Styles                */
header {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 120px;
    padding: 36px 32px;
    background-color: #41426F;
}

header h1 {
    display: inline-block;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}

/*     Header Styles End            */
aside {
    display: inline-block;
    /* TODO: Arreglar posicion sticky con propiedad float activada (main: floar: right) */
    position: sticky;
    top: 0px;
    width: 19%;
    height: 959px;
    padding: 0 16px;
    color: #FFFFFF;
    background-color: #41426F;
}

aside h2 {
    width: 102px;
    height: 47px;
    margin-top: 23px;
    margin-bottom: 25px;
    border-bottom: 3px solid #AACE9B;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}

aside .div-input-search {
    display: block;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 38px;
    color: rgba(255, 255, 255, .5);
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    background-color: transparent;

}

aside .icon-search {
    display: inline;
    margin: 7px 5px 7px 8px;
    float: left;
}

aside #input-search {
    display: inline;
    width: calc(100% - 38px);
    height: 100%;
    border: none;
    box-shadow: inherit;
    background-color: transparent;
}

aside #input-search:target,
aside #input-search:focus-visible,
aside #input-search:focus {
    color: rgba(255, 255, 255, .5);
    border: none;
    outline: none;
}

aside .btn-aside {
    display: block;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    margin: 12.5px 0;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #41426F;
}

aside .btn-aside:hover {
    background: #AACE9B;
    color: #FFFFFF;
}

aside h5 {
    display: inline-block;
    padding-bottom: 4px;
    margin-top: 96px;
    border-bottom: 3px solid #AACE9B;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: white;
}

aside>p {
    width: 100%;
    margin-top: 29px;
    margin-bottom: 13px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
}

aside .aside-contact-div {
    display: block;
    position: relative;
    width: 100%;
    margin-top: 10px;
    padding: 3px 5px;
    padding-bottom: 11px;
    border-bottom: 1px solid #AACE9B;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
}

aside .aside-contact-div.contact-location {
    border-bottom: none;
}

/* Main styles */
main {
    display: block;
    width: calc(100% - 288px);
    /* margin-left: 288px; */
    float: right;
    padding: 0px 52px 0px 53px;
}

main section{
    padding: 50px 0px;
    /* margin: 53px; */
    /* border-top: 3px solid #373867; */
    border-bottom: 3px solid #373867;
}
main section:first-child{
    margin-top: 53px;
    border-top: 3px solid #373867;
}
main section:last-child{
    border-bottom: none;
}

main section.hero {
}

main section.hero .left-conteiner,
main section.hero .right-conteiner {
    display: inline-block;
}

main section.hero .left-conteiner {
    width: 411px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #41426F;
}

main section.hero .right-conteiner {
    width: 663px;
    margin-left: 27px;
    border-radius: 5px;
}

footer {
    width: calc(100% - 288px);
    height: 147px;
    float: right;
    background-color: #41426F;
}