/*     Normalize Styles             */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', normal;
}

a {
    color: white;
}

/*     End Normalize                */
/* _________________________________*/
/*     Header Styles                */
header {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 120px;
    padding: 36px 32px;
    background-color: #41426F;
}

header h1 {
    display: inline-block;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}

/*     Header Styles End            */
aside {
    display: inline-block;
    /* TODO: Arreglar posicion sticky con propiedad float activada (main: floar: right) */
    position: sticky;
    top: 0px;
    width: 21%;
    height: 959px;
    padding: 0 16px;
    color: #FFFFFF;
    background-color: #41426F;
}

aside h2 {
    width: 102px;
    height: 47px;
    margin-top: 23px;
    margin-bottom: 25px;
    border-bottom: 3px solid #AACE9B;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}

aside .div-input-search {
    display: block;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 38px;
    color: rgba(255, 255, 255, .5);
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    background-color: transparent;

}

aside .icon-search {
    display: inline;
    margin: 7px 5px 7px 8px;
    float: left;
}

#input-search {
    display: inline;
    width: calc(100% - 38px);
    height: 100%;
    border: none;
    box-shadow: inherit;
    background-color: transparent;
}

#input-search:target,
#input-search:focus-visible,
#input-search:focus {
    color: rgba(255, 255, 255, .5);
    border: none;
    outline: none;
}

aside .btn-aside {
    display: block;
    width: 100%;
    height: 50px;
    margin: 12.5px 0;
    padding: 13px;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #41426F;
}

aside .btn-aside a {
    color: #41426F;
}

aside .btn-aside p {
    display: inline-block;
}

aside .btn-aside:hover {
    background: #AACE9B;
    color: #FFFFFF;
}

aside h5 {
    display: inline-block;
    padding-bottom: 4px;
    margin-top: 96px;
    border-bottom: 3px solid #AACE9B;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: white;
}

aside>p {
    width: 100%;
    margin-top: 29px;
    margin-bottom: 13px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
}

aside .aside-contact-div {
    display: block;
    position: relative;
    width: 100%;
    margin-top: 10px;
    padding: 3px 5px;
    padding-bottom: 11px;
    border-bottom: 1px solid #AACE9B;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
}

aside .aside-contact-div:last-child {
    border-bottom: none;
}

/*          Main styles         */
main {
    display: block;
    width: 79%;
    /* margin-left: 288px; */
    float: right;
    padding: 0 3.5%;
}

main section {
    padding: 50px 0px;
    /* margin: 53px; */
    /* border-top: 3px solid #373867; */
    border-bottom: 3px solid #373867;
}

main section:first-child {
    margin-top: 53px;
    border-top: 3px solid #373867;
}

main section:last-child {
    border-bottom: none;
}

/**        Hero Section         */
main section.hero {
    align-content: flex-start;
    width: 100%;
}

main section.hero .left-conteiner,
main section.hero .right-conteiner {
    display: inline-block;
}

main section.hero .left-conteiner {
    width: 42%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #41426F;
}

main section.hero .left-conteiner h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-transform: uppercase;
}

main section.hero .left-conteiner h3 {
    margin: 12px 0px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
}

main section.hero .left-conteiner p {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
}

main section.hero .left-conteiner button {
    margin-left: 62%;
    padding: 14px 33px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

main section.hero .left-conteiner button:hover {
    color: #FFFFFF;
    background: #AACE9B;
    border-radius: 5px;
}

main section.hero .right-conteiner {
    width: 54%;
    height: 345px;
    /*todo: Corregir para que sea responsive */
    /* height: 100%; */
    margin-left: 27px;
    border-radius: 5px;
    background-image: url('../assets/img/img-logo-hero.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/**       Service Section       */
main section.services .service-row:nth-child(1) {
    display: block;
    margin-bottom: 100px;
}

main section.services .service-row .column {
    display: inline-block;
    width: 39%;
    margin: 0px 5%;
}

main section.services .service-row .column .div-rotate-45 {
    display: block;
    width: 41px;
    height: 41px;
    padding: 6px;
    border: 2px solid #AACE9B;
    transform: rotate(-45deg);
    float: left;
}

main section.services .service-row .column .div-rotate-45 span {
    width: 29px;
    height: 29px;
    transform: rotate(45deg);
}

main section.services .service-row:nth-child(2) .column:nth-child(2) .div-rotate-45 {
    padding: 1px;
}

main section.services .service-row:nth-child(2) .column:nth-child(2) .div-rotate-45 span {
    transform: rotate(135deg);
}

main section.services .service-row .column .service-info {
    width: 85%;
    margin-left: 9px;
    float: right;
}

main section.services .service-row .column .service-info p {
    margin-top: 15px;
    color: #41426F;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}

main section.services .service-row .column .service-info h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
}

/**        Section Why?         */
main section.why h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;

    color: #373867;
}

main section.why .why-row {
    display: block;
    padding: 25px;
    padding-bottom: 0;
}

main section.why .ul-row {
    display: block;
    margin-bottom: 34px;
}

main section.why .ul-row li {
    display: inline-block;

    width: 44%;
    margin-right: 5%;
}

main section.why .ul-row li span,
main section.why .ul-row li .ul-row-item {
    display: inline-block;
    color: #41426F;
}

main section.why .ul-row li span {
    width: 24px;
    height: 24px;
}

main section.why .ul-row li .ul-row-item {
    width: calc(100% - 30px);
}
main section.why .ul-row li .ul-row-item h3 {
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
}

/**  Form Section  */

/*!       End Main styles       */
/* ____________________________ */
/*?         Footer styles         */
footer {
    width: 81%;
    height: 147px;
    float: right;
    background-color: #41426F;
}