/*     Normalize Styles             */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', normal;
}

a {
    color: white;
}

/*     End Normalize                */
/* _________________________________*/
.flex-conteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    main section.hero {
        flex-direction: row;
    }

    main section.hero .left-conteiner .learn-more-btn {
        display: flex;
    }

    main section.hero .right-conteiner {
        height: 100%;
    }

    main section.hero .right-conteiner .learn-more-btn {
        display: none;
    }
}

@media only screen and (min-width: 1024px) {
    header .burger-menu {
        display: none;
    }

    aside {
        display: flex;
    }
}